@font-face {
    font-family: AmazonEmber_Regular;
    src: url(../fonts/AmazonEmber_Rg.ttf);
}

@font-face {
    font-family: AmazonEmber_Bold;
    src: url(../fonts/AmazonEmber_Bd.ttf);
}

@font-face {
    font-family: AmazonEmber_BoldItalic;
    src: url(../fonts/AmazonEmber_BdIt.ttf);
}

html,
body {
    min-height: 100%;
    margin: 0;
    overflow: auto;
}
body{
    height: 100%;
}

html{
    height: 100%;
}

/* Header */
.bg-light {
    color: #222e3c !important;
    font-size: 1.1rem;
    background-color: #2596be !important;
    font-family: AmazonEmber_Bold;
}

.other_header {
    color: #222e3c !important;
    font-size: 1.1rem;
    background-color: #eaeded !important;
    font-family: AmazonEmber_Bold !important;
}

.nav-item {
    margin-left: 3rem !important;
}

.nav-link {
    padding-right: 0!important;
    padding-left: 0!important;
}

.show .navbar-nav .nav-item {
    margin: auto;
}
  
/* Content */
.page_title {
    font-family: AmazonEmber_Bold;
    font-size: 2.5rem;
    color: #00a7ce;
    line-height: 1;
    margin-bottom: 10px;
}

.page_subtitle {
    font-family: AmazonEmber_Bold;
    font-size: 1.4rem;
    color: #222e3c;
}

/* Footer */
.footer {
    width: 100%;
    max-height: 10rem;
    bottom: 0;
    position: relative;
}

.footerText {
    color: #535962;
    text-decoration: none;
    font-size: 0.7rem;
    font-family: AmazonEmber_Regular;
}

/* Home Page */
.homePage {
    background-color: #2596be;
}

.homePage_nav_active {
    background-repeat: no-repeat;
    background-image: url(../images/image_homePage_chosenline.png);
    background-position-y: 2.1rem;
    background-size: contain;
}

.homePage_button {
    background-color: #ffffff;
    color: #00a7ce;
    font-family: AmazonEmber_Bold;
    font-size: 1rem;
    width: 7rem;
}

.homepage_title {
    font-size: 3.3rem;
    font-family: AmazonEmber_Bold;
    line-height: 3.6rem;
}

.homepage_content {
    font-size: 1.1rem;
    font-family: AmazonEmber_Bold;
}

.homepage_date {
    color: #ffffff;
    font-size: 1.1rem;
    font-family: AmazonEmber_BoldItalic;
}

.homepage_footer {
    margin-top: 5.5rem;
}

/* Meet Alexa Page */
.meetAlexa_nav_active {
    background-repeat: no-repeat;
    background-image: url(../images/image_meetAlexa_chosenline.png);
    background-position-y: 2.1rem;
    background-size: contain;
}

.meetAlexa_content {
    font-family: AmazonEmber_Bold;
    font-size: 1.04rem;
    color: #222e3c;
}

.meet_alexa_video {
    height: 500px;
}

.meet_alexa_medium_device {
    margin-left: 7rem;
}

.meetAlexa_icon_title {
    font-family: AmazonEmber_Bold;
    font-size: 0.8rem;
    color: #656b73;
}

.meetAlexa_remove_link_style {
    text-decoration: none;
}

.meetAlexa_footer {
    margin-top: 6rem;
}

/* Device Page */
.device_nav_active {
    background-repeat: no-repeat;
    background-image: url(../images/image_device_chosenline.png);
    background-position-y: 2.1rem;
    background-size: contain;
}

.device_title {
    font-family: AmazonEmber_Bold;
    font-size: 0.88rem;
}

.device_subtitle {
    font-family: AmazonEmber_Regular;
    font-size: 0.7rem;
}

.device_medium_device {
    margin-left: 3.5rem;
}

.device_learnMore_button {
    background-color: #00a7ce;
    color: #ffffff;
    font-family: AmazonEmber_Regular;
    font-size: 0.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.device_footer {
    margin-top: 16.8rem;
}

/* Audible Page */
.audible_nav_active {
    background-repeat: no-repeat;
    background-image: url(../images/image_audible_chosenline.png);
    background-position-y: 2.1rem;
    background-size: contain;
}

.audible_title_subtitle {
    font-family: AmazonEmber_Regular;
    font-size: 1.1rem;
}

.audible_part_title {
    font-family: AmazonEmber_Bold;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.audible_part_content {
    font-family: AmazonEmber_Regular;
    font-size: 0.9rem;
}

.audible_learnMore_button {
    background-color: #ffa000;
    color: #000000;
    font-family: AmazonEmber_Regular;
    font-size: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.audible_footer {
    margin-top: 9rem;
}

/* FAQ Page */
.FAQ_contactUs_button {
    background-color: #00a7ce;
    color: #ffffff;
    font-family: AmazonEmber_Regular;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.2rem;
}

.FAQ_nav_active {
    background-repeat: no-repeat;
    background-image: url(../images/image_FAQ_chosenline.png);
    background-position-y: 2.1rem;
    background-size: contain;
}

.FAQ_body {
    padding: 0;
}

.FAQ_content_rightText {
    font-size: 1.04rem;
    font-family: AmazonEmber_Regular;
}

.FAQ_content_rightText p span a {
    word-break: break-all;
}

.list-group-item {
    font-family: AmazonEmber_Bold;
    font-size: 1.04rem;
    background-color: #e7e7e7;
}

.list-group {
    background-color: #e7e7e7;
}

.list-group-item.active {
    background-repeat: no-repeat;
    background-image: url(../images/icon_FAQ_arrow.png);
    background-position-x: 33.2rem;
    background-position-y: 1.5rem;
    background-size: 0.5rem;
    z-index: auto;
    color: #000000;
    background-color: transparent;
    border-color: #d7d7d7;
    color: #e47911;
}

.FAQ_footer {
    margin-top: 4.7rem;
}

/* Collection Statement Page */
.collection_statement_content {
    font-family: AmazonEmber_Regular;
    font-size: 1.1rem;
}

.collection_statement_content ol li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.collection_statement_content ol li span a {
    word-break: break-all;
}

.collection_statement_content_title {
    font-family: AmazonEmber_Bold;
    font-size: 1.45rem;
}

.collection_statement_footer {
    margin-top: 1.2rem;
}

/* Responsive web */
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Home Page */
    .homepage_title {
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* Collection Statement Page */
    .collection_statement_title {
        padding: 0 !important;
    }

    .collection_statement_subtitle {
        padding: 0 !important;
    }

    .collection_statement_mobile_container {
        padding: 1rem;
    }

    .collection_statement_content {
        padding: 0 !important;
    }

    /* Amazon Echo Family Page */
    .device_medium_device {
        margin-left: 0 !important;
    }

    .device_title {
        font-size: 1.5rem !important;
    }

    .device_subtitle {
        font-size: 1.2rem !important;
    }

    .device_align_button {
        margin-top: 0rem !important;
    }

    .device_footer {
        margin-top: 0!important;
    }

    /* Meet Alexa Page */
    .meet_alexa_medium_device {
        margin-left: 0 !important;
    }

    .meet_alexa_video {
        height: 200px;
    }

    .meetAlexa_footer {
        margin-top: 0!important;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* Amazon Echo Family Page */
    .device_align_button {
        margin-top: 0rem;
    }

    .device_echo_button {
        margin-top: 1rem;
    }

    .device_echo8_button {
        margin-top: 0;
    }

    .device_subtitle {
        
    }

    /* Audible Page */
    .audible_box {
        padding-right: 0rem;
        padding-left: 0rem;
    }

    /* FAQ Page */
    .list-group-item.active {
        background-position-x: 10rem;
    }

    .FAQ_footer {
        margin-top: 0!important;
    }



    /* T&C and Collection Statement Page */
    .collection_statement_footer {
        margin-top: 0!important;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    /* Meet Alexa */
    .meetAlexa_icon_title {
        font-size: 0.6rem;
    }

    /* Amazon Echo Family */
    .device_title {
        font-size: 0.8rem;
    }

    .device_subtitle {
        font-size: 0.6rem;
    }

    
    /* FAQ Page */
    .list-group-item.active {
        background-position-x: 28rem;
    }
}


/* Device width between 1200px to 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
    /* Audible Page */
    .audible_part_title {
        font-family: AmazonEmber_Bold;
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    
    .audible_part_content {
        font-family: AmazonEmber_Regular;
        font-size: 0.7rem;
    }
    
    /* Device Page */
    .device_title {
        font-size: 0.7rem;
    }
    
    .device_subtitle {
        font-size: 0.6rem;
    }

    .device_image_echo_show {
        width: 7.8rem;
    }


    .device_echo_button {
        padding-top: 2.4rem !important;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    /* Device page */
    .device_title {
        font-size: 0.6rem;
    }

    .device_echo_button {
        padding-top: 2.4rem !important;
    }

    .device_image_echo_show {
        width: 8rem;
    }

}

/* Device width between 1500px to 1799px */
@media (min-width: 1500px) and (max-width: 1799px) {
    /* Audible Page */ 
    .audible_image_size {
        width: 38rem;
    }
}

/* Device width between 1800px to 2099px*/
@media (min-width: 1800px) and (max-width: 2099px)  {
    /* Audible Page */ 
    .audible_image_size {
        width: 45rem;
    }

    .audible_xxl_device {
        margin-top: 2rem;
    }
}

/* Device width larger than 2100px*/
@media screen and (min-width: 2100px) {
    /* Audible Page */
    .page_subtitle {
        font-size: 2rem;
    }
    .audible_xxl_device {
        padding: 2rem;
    }

    .audible_xxl_button {
        margin-top: 5rem;
    }

    /* Device Page */
    .device_title {
        font-size: 1.3rem;
    }
    
    .device_subtitle {
        font-size: 1rem;
    }
}

/* EP */
@media screen and (min-width: 0px) {
	.device_subtitle {
		min-height: unset;
	}
	.product-wrapper {
		padding-bottom: 80px !important;
	}
	.product-wrapper img {
		max-width: 100%;
		padding: 0 5%;
	}
    .message_container img {
        width: 50px;
        margin-right: 15px;
    }
    .message_container .homepage_content {
        font-size: 1.0rem;
        color: #4995ba;
    }
}

@media screen and (min-width: 992px) {
	.device_subtitle {
		min-height: 38px;
	}
	.product-wrapper {
		padding: 30px 0 30px 0 !important;
	}
    .message_container .homepage_content {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {
	.device_subtitle {
		min-height: 50px;
	}
	.product-wrapper img {
		max-width: 100%;
	}
}

@media screen and (min-width: 1399px) {
	.device_subtitle {
		min-height: 56px;
	}
	.product-wrapper img {
		max-width: 100%;
	}
}